<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TabmateRelay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<userSettings>
        <TabmateRelay.Properties.Settings>
                <setting name="UsagePage" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="UsageCollection" serializeAs="String">
                        <value>5</value>
                </setting>
                <setting name="Configuration" serializeAs="String">
                        <value>null</value>
                </setting>
                <setting name="LogInputReport" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="LogFlag" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="LogButtonIndex" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="LogButtonLabel" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="LogButtonKeyString" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="LogButtonName" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="LogActiveWindow" serializeAs="String">
                        <value>False</value>
                </setting>
        </TabmateRelay.Properties.Settings>
    </userSettings>
</configuration>